body {
  background-color: #FE0000;
  padding: 200px;
}

.parent {
  background-color: #fff;
  width: 100%;
  height: 500px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.child {
  background-color: #3AA6B9;
  width: 200px;
  height: 200px;
}

.child2 {
  background-color: #2B2A4C;
  width: 200px;
  height: 250px;
}
